body {
    /*margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Open Sans', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
}
.tk-adelle {
    font-family: "adelle", serif;
}
#cai-wordmark {
    /* margin-left: -5px; */
}

#lc-logo {
    /* margin-left: -5px; */
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

hr {
    margin: 50px auto;
    border-top: 1px solid black;
    max-width: 18%;
}
hr::after {
    content: '▼';
    font-size: 18px;
    color: #f15a22;
    display: block;
    text-align: center;
    margin: -10px auto;
}


.image-bg-inside {
    padding-top: 43.75%; /* image height * 100 / image width */
}

.img-center {
	margin: 0 auto;
}

section {
    padding: 25px 0;
}
.section-lead {
    text-align: center;
}
.page-heading {
    color: #f15a22;
    text-align: center;
    margin: 0 auto;
    font-size: 4em;
}

.program-paragraph {
    margin: 35px auto;
    text-align: center;
}
.paragraph-header {
    margin-top: 0;
}

footer {
    margin: 50px 0 0;
    padding-bottom: 29px;
    font-size: 0.7em;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Adelle', 'Open Sans', sans-serif;
    margin: 30px 0 20px 0;
}

p {
    margin: 20px 0;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .7px;
}

li {
    font-size: 16px;
    line-height: 28px;
}

p.mice-type {
    font-size: 10px;
    color: grey;
    line-height: 14px;
    text-align: center;
}
p.mice-type a {
    color: #f15a22;
}
.register-now {
    background: #f15a22;
    color: white;
}
.learn-more {
    color: #f15a22;
    background: none;
}
.learn-more, .register-now {
    border: 2px solid #f15a22;
    padding: 10px 20px;
    margin: 15px 10px;
}

.hero-header {
    padding-top: 350px;
    height: 475px;
    max-width: 100%;
    background: url('../images/hero-image.png') center center;
    z-index: 0
}
.discover-programs {
    margin: 0 auto;
    font-size: 18px;
    display: block;
    border: 2px solid white;
    background: none;
    color: white;
    padding: 10px 20px;
}

.discover-programs:hover {
    color: white;
    background: rgba(255, 255, 255, .4);
}

#program-grid {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}
.program-item {
    display: inline-block;
    height: 335px;
    width: 335px;
    max-width: 100%;
    margin: 0 -2px;
    transition: 300ms ease-out;
}

.formation-panel {
    background:
    linear-gradient(
        rgba(0, 0, 0, .6),
        rgba(0, 0, 0, .6)
    ), url('../images/draw-min.jpg') center center no-repeat;
}
.publishing-panel {
    background:
    linear-gradient(
        rgba(0, 0, 0, .6),
        rgba(0, 0, 0, .6)
    ), url('../images/write-min.jpg') center center no-repeat;
}
.history-panel {
    background:
    linear-gradient(
        rgba(0, 0, 0, .6),
        rgba(0, 0, 0, .6)
    ), url('../images/work-min.jpg') center center no-repeat;
}
.fine-arts-panel {
    background:
    linear-gradient(
        rgba(0, 0, 0, .6),
        rgba(0, 0, 0, .6)
    ), url('../images/crafting-min.jpg') center center no-repeat;
}
.film-panel {
    background:
    linear-gradient(
        rgba(0, 0, 0, .6),
        rgba(0, 0, 0, .6)
    ), url('../images/dance-min.jpg') center center no-repeat;
}
.web-panel {
    background:
    linear-gradient(
        rgba(0, 0, 0, .6),
        rgba(0, 0, 0, .6)
    ), url('../images/laptop-min.jpg') center center no-repeat;
}
.photography-panel {
    background:
    linear-gradient(
        rgba(0, 0, 0, .6),
        rgba(0, 0, 0, .6)
    ), url('../images/work-min.jpg') center center no-repeat;
}
.journalism-panel {
    background:
    linear-gradient(
        rgba(0, 0, 0, .6),
        rgba(0, 0, 0, .6)
    ), url('../images/paper-roll-min.jpg') center center no-repeat;
}
.studio-panel {
    background:
    linear-gradient(
        rgba(0, 0, 0, .6),
        rgba(0, 0, 0, .6)
    ), url('../images/draw-min.jpg') center center no-repeat;
}
.formation-panel:hover {
    background:
    linear-gradient(
        rgba(241, 90, 34, .8),
        rgba(241, 90, 34, .8)
    ), url('../images/draw-min.jpg') center center no-repeat;
    background-size: contain;
}
.publishing-panel:hover {
    background:
    linear-gradient(
        rgba(241, 90, 34, .8),
        rgba(241, 90, 34, .8)
    ), url('../images/write-min.jpg') center center no-repeat;
    background-size: contain;
}
.history-panel:hover {
    background:
    linear-gradient(
        rgba(241, 90, 34, .8),
        rgba(241, 90, 34, .8)
    ), url('../images/work-min.jpg') center center no-repeat;
    background-size: contain;
}
.fine-arts-panel:hover {
    background:
    linear-gradient(
        rgba(241, 90, 34, .8),
        rgba(241, 90, 34, .8)
    ), url('../images/crafting-min.jpg') center center no-repeat;
    background-size: contain;
}
.film-panel:hover {
    background:
    linear-gradient(
        rgba(241, 90, 34, .8),
        rgba(241, 90, 34, .8)
    ), url('../images/dance-min.jpg') center center no-repeat;
    background-size: contain;
}
.web-panel:hover {
    background:
    linear-gradient(
        rgba(241, 90, 34, .8),
        rgba(241, 90, 34, .8)
    ), url('../images/laptop-min.jpg') center center no-repeat;
    background-size: contain;
}
.web-panel:hover {
    background:
    linear-gradient(
        rgba(241, 90, 34, .8),
        rgba(241, 90, 34, .8)
    ), url('../images/laptop-min.jpg') center center no-repeat;
    background-size: contain;
}
.photography-panel:hover {
    background:
    linear-gradient(
        rgba(241, 90, 34, .8),
        rgba(241, 90, 34, .8)
    ), url('../images/work-min.jpg') center center no-repeat;
    background-size: contain;
}
.journalism-panel:hover {
    background:
    linear-gradient(
        rgba(241, 90, 34, .8),
        rgba(241, 90, 34, .8)
    ), url('../images/paper-roll-min.jpg') center center no-repeat;
    background-size: contain;
}
.studio-panel:hover {
    background:
    linear-gradient(
        rgba(241, 90, 34, .8),
        rgba(241, 90, 34, .8)
    ), url('../images/draw-min.jpg') center center no-repeat;
    background-size: contain;
}

[class$='-panel'] {
    opacity: 1;
    background-size: contain;
    cursor: pointer;
    z-index: -1;
}

.program-item-title {
    color: white;
    font-size: 135%;
    line-height: 325px;
    letter-spacing: 1px;
}

.social-icons-list:nth-child(1n+2) {
        margin: 0 0 0 25px;
}

.fb-icon, .tw-icon, .ig-icon {
    cursor: pointer;
    display: inline-block;
    width: 46px;
    height: 47px;
    overflow: hidden;
}

.fb-icon {
    background: url("../images/social-sprites-min.png") no-repeat;
    background-position: 0px 0px;
    background-size: 92px;
}

.fb-icon:hover {
    background: url("../images/social-sprites-min.png") no-repeat;
    background-position: -46px 0px;
    background-size: 92px;
}
.tw-icon {
    background: url("../images/social-sprites-min.png") no-repeat;
    background-position: 0px -93px;
    background-size: 92px;
}

.tw-icon:hover {
    background: url("../images/social-sprites-min.png") no-repeat;
    background-position: -46px -93px;
    background-size: 92px;
}
.ig-icon {
    background: url("../images/social-sprites-min.png") no-repeat;
    background-position: 0px -46px;
    background-size: 92px;
}

.ig-icon:hover {
    background: url("../images/social-sprites-min.png") no-repeat;
    background-position: -46px -46px;
    background-size: 92px;
}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #lc-logo {
        display: none;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1199px) {
    .navbar-brand {
        display: none;
    }

    .navbar {
        margin-left: -58px;
    }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    hr {
        max-width: 35%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    /* .image-bg-fixed-height {
        background: url('../images/hero-create-768x450.png') no-repeat top center;
        background-size: contain;
        width: 100%;
        max-height: 700px;
    } */

    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .page-heading {
        font-size: 2em;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .image-bg-fixed-height {
        background: url('../images/hero-create-480x510.png') no-repeat top center;
        background-size: contain;
        width: 100%;
        max-height: 700px;
    }

    .image-bg-inside {
        padding-top: 94.12%; /* image height * 100 / image width */
    }

    .section-lead {
        font-size: 18px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .navbar-brand {
        display: none;
    }
}

/*
 * Start Bootstrap - Full Width Pics (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
